<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>一刻--生成15分钟即焚的消息</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link media="all" href="/css/app.css" rel="stylesheet">
</head>
<body>
<header>
    <a href="/"><h1>一刻</h1>
        <p>创建一条15分钟即焚的消息</p></a>
</header>
    <section id="main">