<% include header %>
<form action="/add" method="post">
    <textarea placeholder="输入消息内容" rows="10" name='content' id='content'></textarea>
    <footer>
        <button type="submit" class="btn">生成</button>
    </footer>
</form>
<% include footer %>